/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON */

body {
    color: white;
    background-color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    height: 40px;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header nav {
    position: absolute;
    right: 5px;
    top: 5px;
}

header nav > * {
    display: inline-block;
    background-color: #4a4a4a;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-left: 2px;
}

/* MAIN */
main {
    margin-top: 70px;
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

main section {
    height: calc(100vh - 160px);
    background-color: black;
}

main section .all-cards {
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 10px;
    width: calc((100% / 7) - 5px);
    position: relative;
}

.card .mic-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: #222222;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
