/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COMMON */

body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    height: 60px;
    background-color: black;
    text-align: right;
}

header nav {
    padding: 8px 5px;
}

header nav > * {
    display: inline-block;
    background-color: #4a4a4a;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-left: 2px;
}

/* MAIN */
main {
    height: calc(100vh - 130px);
    overflow-y: auto;
}

main section .all-cards {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.card {
    margin-bottom: 10px;
    width: calc((100% / 7) - 5px);
    position: relative;
}

.card .mic-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

/* FOOTER */
footer {
    height: 70px;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    align-items: center;
    text-align: center;
}

footer ul li {
margin: 0 10px;}

footer span {
    display: block;
    margin-bottom: 5px;
}

footer span.active-icon {
    color: #4bc800;
}

footer .ft-right {
    background-color: #4a4a4a;
    color: #f40018;
    height: 100%;
    padding: 0 20px;
    line-height: 70px;
}
